/* board.css */
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
	font-family: 'SUITE-Regular'
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-content {
	color: white;
}

.menutitle {
	font-size: 30px;
	color: hotpink;
}

.starhead {
	display: flex;
}

.write {
	margin-left: auto;
	padding-top:8px;
	margin-top: 8px;
}

.card {
	background-color: transparent;
	padding: 10px;
	height: 100%;
}

.card-title {
	color: white;
	padding: 1px;
	font-weight: 500;
/* 	font-size: 17px; */
}

.card-img {
    width: 100%;  /* 이미지의 너비를 부모 요소의 100%로 설정합니다. */
    height: 200px;  /* 이미지의 높이를 200px로 고정합니다. */
}


.card-img-top {
    display: block;  /* 이미지를 블록 요소로 설정하여 상하 여백을 제어합니다. */
    margin: 0 auto;  /* 이미지를 가운데 정렬합니다. */
    height: 100%;  /* 이미지의 높이를 부모 요소의 높이(200px)에 맞춥니다. */
    object-fit: cover;  /* 이미지가 부모 요소의 크기에 맞게 잘리거나 늘어나도록 설정합니다. */
    object-position: center;  /* 이미지를 중앙으로 정렬합니다. */
}

.card-createdate {
	float: left;
}

.card-views {
	float: right;
}


/* paging.css */
div.paging {
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

div.paging>i,
div.paging>div.pages {
  margin: 0 10px;
}

div.paging>i,
div.paging>div.pages>span {
  margin: 0 3px;
  cursor: pointer;
}

span.active {
  color: hotpink;
  font-weight: bold;
}