.page-content{
	background: url('https://picsum.photos/1000/1500?image=827') #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    box-shadow: 0 40px 30px -30px rgba(119, 119, 119, 0.85);
    border-radius: 30px;
}